<div class="flex flex-col justify-center items-center">
  <%= image_tag "main_logo.png", alt: "main_logo" %>
  <p>ユーザーの入力をもとに、</p>
  <p class="mb-2">AIが短歌を自動で生成してくれるサービスです。</p>
  <% if logged_in? %>
    <div class="flex space-x-4">
      <%= link_to "短歌をつくる", new_post_path, class: "bg-pink-400 hover:bg-pink-600 text-white font-bold py-2 px-4 rounded" %>
      <%= link_to "ログアウト", logout_path, data: { turbo_method: :delete }, class: "bg-sky-400 hover:bg-sky-600 text-white font-bold py-2 px-4 rounded" %>
    </div>
  <% else %>
    <div class="flex space-x-4">
      <%= link_to "ログインしてはじめる", login_path, class: "bg-pink-400 hover:bg-pink-600 text-white font-bold py-2 px-4 rounded" %>
      <%= link_to "ゲストログインではじめる", guest_login_path, data: { turbo_method: :post }, class: "bg-sky-400 hover:bg-sky-600 text-white font-bold py-2 px-4 rounded" %>
    </div>
  <% end %>
</div>