<div class="flex flex-col items-center justify-center bg-white py-8">
  <div class="max-w-md w-full space-y-8">
    <div>
      <h1 class="font-bold text-4xl">ひとつ選んでください。</h1>
    </div>
    <%= form_with model: @post, url: posts_path, method: :post, data: { turbo: false }, class: "mt-8 space-y-6" do |f| %>
      <div class="flex flex-col">
        <% session[:tankas].each_with_index do |tanka, index| %>
          <div class="mb-4 option" id="option-<%= index %>" style="border: 1px solid black; padding: 10px;">
            <%= f.label "tanka#{index}", class: "font-bold text-2xl cursor-pointer" do %>
              <%= f.radio_button :content, tanka, id: "tanka#{index}", name: "post[content]", class: "hidden" %>
              <%= tanka %>
            <% end %>
          </div>
        <% end %>
        <%= f.submit "これに決める", class: "mt-4 px-4 py-2 bg-pink-500 text-white rounded group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-bold rounded-md text-white bg-pink-500 hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
      </div>
    <% end %>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const options = document.querySelectorAll('.option');
    options.forEach((option) => {
      option.addEventListener('click', (event) => {
        options.forEach((opt) => {
          opt.style.backgroundColor = 'white';
        });
        option.style.backgroundColor = 'lightgray';
      });
    });
  });
</script>