<div class="flex justify-center mb-4 top-0 z-50">
  <%= render 'search', q: @q, url: posts_path %>
</div>
<div class="container mx-auto py-12">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    <% @posts.each do |post| %>
      <%= link_to post_path(post), class: "border p-4 bg-white bg-opacity-90 rounded flex flex-col items-center min-h-[32rem] hover:bg-gray-300 transition-colors duration-200" do %>
        <% if post.image_url.present? %>
          <div class="flex-shrink-0 max-w-xs mb-4">
            <%= image_tag post.image_url, class: "rounded-lg shadow-md w-full h-auto", onerror: "this.onerror=null;this.src='#{asset_path('sample.webp')}';" %>
          </div>
        <% else %>
          <div class="flex-shrink-0 max-w-xs mb-4">
            <%= image_tag "sample.webp", class: "rounded-lg shadow-md w-full h-auto" %>
          </div>
        <% end %>
        <div class="flex flex-col justify-between items-center space-y-4 flex-grow w-full">
          <div class="font-bold text-4xl mb-6 text-center vertical-text flex-grow">
            <% post.content.split(/\s|　/).each do |line| %>
              <p><%= line %></p>
            <% end %>
          </div>
          <% if post.user.present? %>
            <div class="text-lg vertical-text self-end mr-44">
              <p><%= post.user.name %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<style>
  .vertical-text {
    writing-mode: vertical-rl;
    text-orientation: upright;
    white-space: pre-line;
  }
  .vertical-text p {
    margin: 0;
    padding: 0;
  }
</style>
