<div class="flex flex-col items-center justify-center">
  <div class="w-full max-w-4xl rounded-lg p-6">
    <h1 class="text-4xl text-white text-center mb-6">短歌選択画面</h1>
    <p class="text-white text-center">ひとつ選んで決定ボタンを押してください。</p>
    <div class="p-4 rounded-lg">
      <%= form_with model: @post, url: posts_path, method: :post, data: { turbo: false }, class: "space-y-6", id: "myForm" do |f| %>
        <div class="flex space-x-4">
          <% session[:tankas].each_with_index do |tanka, index| %>
            <div class="backdrop-blur-sm option border p-4 rounded-lg flex items-center justify-center" id="option-<%= index %>" style="flex: 1 1 20%;">
              <%= f.label "tanka#{index}", class: "text-white font-bold text-2xl cursor-pointer flex items-center justify-center h-full w-full hover:text-black" do %>
                <%= f.radio_button :content, tanka, id: "tanka#{index}", name: "post[content]", class: "hidden" %>
                <div class="vertical-text">
                  <%= tanka %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <div>
          <%= f.submit "これに決める", class: "mt-4 px-4 py-2 bg-pink-500 text-white rounded group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-bold hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<style>
  .vertical-text {
    writing-mode: vertical-rl;
    text-orientation: upright;
    white-space: nowrap;
  }
</style>

<!-- モーダルウィンドウ -->
<div id="myModal" class="modal">
  <div class="modal-content">
    <p>処理中です。しばらくお待ちください...</p>
  </div>
</div>

<style>
  .option:hover,
  .selected:hover {
    background-color: white;
  }

  .selected {
    background-color: white;
  }

  .selected .vertical-text {
    color: black;
  }

  /* モーダルウィンドウのスタイル */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const options = document.querySelectorAll('.option');
    options.forEach((option) => {
      option.addEventListener('click', (event) => {
        options.forEach((opt) => {
          opt.classList.remove('selected');
        });
        option.classList.add('selected');
      });
    });

    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the form that opens the modal
    var form = document.getElementById("myForm");

    // When the user submits the form, open the modal 
    form.addEventListener('submit', (event) => {
      modal.style.display = "block";
    });
  });
</script>