<div class="flex flex-col items-center justify-center bg-white py-40">
  <div class="max-w-md w-full space-y-8">
    <div>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        ログイン画面
      </h2>
    </div>
    <%= form_with url: login_path, method: :post, class: "mt-8 space-y-6" do |f| %>
      <input type="hidden" name="remember" value="true">
      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <%= f.label :email, 'メールアドレス', class: "sr-only" %>
          <%= f.email_field :email, class: "mb-4 appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm", placeholder: "メールアドレス" %>
        </div>
        <div>
          <%= f.label :password, 'パスワード', class: "sr-only" %>
          <%= f.password_field :password, class: "mb-4 appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm", placeholder: "パスワード" %>
        </div>
      </div>

      <div>
        <%= f.submit 'ログイン', class: "group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-bold rounded-md text-white bg-pink-500 hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
      </div>
    <% end %>
    <div class="text-center">
      <%= link_to "新規会員登録はこちら", new_user_path, class: "font-medium text-indigo-600 hover:text-indigo-500" %>
    </div>
    <div class="text-center mt-4">
      <%= link_to '戻る', root_path, class: "font-medium text-indigo-600 hover:text-indigo-500" %>
    </div>
  </div>
</div>
