<!DOCTYPE html>
<html>
  <head>
    <title>短歌つくったー。</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag "favicon.ico" %>
    <script src="https://kit.fontawesome.com/2ad9886cff.js" crossorigin="anonymous"></script>
    <%= display_meta_tags(default_meta_tags) %>
  </head>

  <body class="font-serif bg-pink-50 flex flex-col min-h-screen">
  <video autoplay muted loop class="fixed top-0 left-0 w-full h-full z-[-1] object-cover">
    <source src="/videos/22451_1280x720 (1).mp4" type="video/mp4">
  </video>

  <div class="fixed inset-0 bg-black bg-opacity-30 z-[-1]"></div>

  <header>
    <nav class="bg-transparent text-white p-4 border-b border-white custom-border">
      <div class="container mx-auto flex justify-between items-center">
        <div class="flex justify-center items-center">
          <%= link_to root_path, class: "flex justify-center items-center text-2xl font-bold" do %>
            <%= image_tag "favicon.ico", alt: "main_logo", class: "header-logo", width: "30", height: "30" %>
            <span>短歌つくったー。</span>
          <% end %>
            <p>ユーザーの入力をもとに、AIが短歌を自動で生成してくれるサービスです。</p>
        </div>
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <ul class="slide-menu">
          <li>メニュー１</li>
          <li>メニュー２</li>
          <li>メニュー３</li>
        </ul>
          
        <div>
          <% if logged_in? %>
            <%= link_to mypages_index_path, class: "mr-5" do %>
              マイページ
            <% end %>
            <%= link_to logout_path, data: { turbo_method: :delete } do %>
              ログアウト
            <% end %>
          <% else %>
            <%= link_to login_path, class: "mr-5" do %>
              ログイン
            <% end %>
            <%= link_to new_user_path do %>
              新規登録
            <% end %>
          <% end %>
        </div>
      </div>
    </nav> 
  </header>

  <style>
    body {
      overflow-x: hidden;
    }
    .hamburger {
      width: 40px;
      height: 25px;
      position: relative;
      position: fixed;
      top: 20px;
      right: 30px;
    }
    .hamburger span {
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: white;
      transition: 0.5s;
    }
    .hamburger span:first-of-type {
      top: 0;
    }
    .hamburger span:nth-of-type(2) {
      top: 50%;
    }
    .hamburger span:last-of-type {
      top: 100%;
    }
    .slide-menu {
      background: rgba(0, 0, 0, 0.8);
      position: fixed;
      top: 65px;
      width: 100%;
      left: 0;
      transform: translateX(100%);
      transition: 0.5s;
    }
    .slide-menu li {
      color: white;
      line-height: 400%;
      text-align: center;
    }
    .hamburger.active span:first-of-type {
      top: 50%;
      transform: rotate(45deg);
    }
    .hamburger.active span:nth-of-type(2) {
      opacity: 0;
    }
    .hamburger.active span:last-of-type {
      top: 50%;
      transform: rotate(-45deg);
    }
    .slide-menu.active {
      transform: translateX(0);
    }
  </style>

  <script>
    document.querySelector('.hamburger').addEventListener('click', function() {
      this.classList.toggle('active');
      document.querySelector('.slide-menu').classList.toggle('active');
    });
  </script>

  <sidebar>
    <div class="fixed left-0 bottom-16 bg-transparent p-5 flex flex-col space-y-4">
      <%= link_to new_post_path do %>
        <div class="icon-container text-4xl text-white hover:underline">
          短歌をつくる
        </div>
      <% end %>
      <%= link_to posts_path do %>
        <div class="icon-container text-4xl text-white hover:underline">
          みんなの短歌
        </div>
      <% end %>
      <%= link_to mypages_index_path do %>
        <div class="icon-container text-4xl text-white hover:underline">
          あなたの短歌
        </div>
      <% end %>
    </div>
  </sidebar>

    <main class="container mx-auto mt-28 px-5 flex flex-col flex-grow">
      <%= render "layouts/flash_messages" %>
      <%= yield %>
    </main>

    <footer class="text-center mt-10">
      <%= link_to "利用規約", terms_path, class: "text-gray-500" %>
      <%= link_to "プライバシーポリシー", privacy_path, class: "text-gray-500" %>
      <%= link_to "お問い合わせ", '#', class: "text-gray-500" %>
      <p class="text-gray-500">© 2024 短歌つくったー。</p>
      <%= link_to "https://twitter.com/kitaji_i", target: "_blank", rel: "noopener noreferrer", class: "text-gray-500 mr-1" do %>
        <i class="fa-brands fa-square-x-twitter fa-lg"></i>
      <% end %>
      <%= link_to "https://github.com/aiueo49", target: "_blank", rel: "noopener noreferrer", class: "text-gray-500 ml-1" do %>
        <i class="fa-brands fa-github fa-lg"></i>
      <% end %>
    </footer>
  </body>
</html>
