<!DOCTYPE html>
<html>
  <head>
    <title>TankaTukitta</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag "favicon.ico" %>
    <script src="https://kit.fontawesome.com/2ad9886cff.js" crossorigin="anonymous"></script>
  </head>

  <body class="bg-pink-50">

    <div class="fixed left-0 top-1/2 transform -translate-y-1/2 bg-transparent p-5 flex flex-col space-y-4">
      <% if current_page?(posts_path) %>
        <%= link_to root_path do %>
          <div class="icon-container">
            <i class="fa-solid fa-house fa-lg hover:text-blue-500"></i>
            <span class="icon-label">ホーム</span>
          </div>
        <% end %>
      <% else %>
        <%= link_to posts_path do %>
          <div class="icon-container">
            <i class="fa-solid fa-users fa-lg hover:text-blue-500"></i>
            <span class="icon-label">みんなの短歌</span>
          </div>
        <% end %>
      <% end %>
      <% if logged_in? %>
        <%= link_to current_user_page_posts_path do %>
          <div class="icon-container">
            <i class="fa-solid fa-user fa-lg hover:text-blue-500"></i>
            <span class="icon-label">マイページ</span>
          </div>
        <% end %>
        <%= link_to logout_path, data: { turbo_method: :delete } do %>
          <div class="icon-container">
            <i class="fa-solid fa-arrow-right-from-bracket fa-lg hover:text-blue-500"></i>
            <span class="icon-label">ログアウト</span>
          </div>
        <% end %>
      <% end %>
    </div>

    <main class="<%= 'container mx-auto mt-28 px-5 flex' unless controller_name == 'posts' && action_name == 'index' %>">
      <%= render "layouts/flash_messages" %>
      <%= yield %>
    </main>

    <footer class="text-center mt-10">
      <%= link_to "利用規約", '#', class: "text-gray-500" %>
      <%= link_to "プライバシーポリシー", '#', class: "text-gray-500" %>
      <%= link_to "お問い合わせ", '#', class: "text-gray-500" %>
      <p class="text-gray-500">© 2024 短歌つくったー。</p>
      <%= link_to "https://twitter.com/kitaji_i", target: "_blank", rel: "noopener noreferrer", class: "text-gray-500 mr-1" do %>
        <i class="fa-brands fa-square-x-twitter fa-lg"></i>
      <% end %>
      <%= link_to "https://github.com/aiueo49", target: "_blank", rel: "noopener noreferrer", class: "text-gray-500 ml-1" do %>
        <i class="fa-brands fa-github fa-lg"></i>
      <% end %>
    </footer>
  </body>
</html>
